.columns {
  .columns-icons-item {
    max-width: 20rem;
    .columns-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .columns-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}

#columns {
  background-position: bottom;
    background-repeat: no-repeat;
    color: $content2-color;
}
